<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/header') %> 
<body>
  <%- include('../../partials/navbar') %> 
  <div class="container">
    <br>
    <h1>Artigos</h1>
    <hr>
    <a class="btn btn-success" href="/admin/articles/new">Criar novo artigo</a>
    <hr>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Título</th>
          <th>Slug</th>
          <th>Category</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% articles.forEach(article => { %>
            <td><%= article.id %> </td>
            <td><%= article.title %> </td>
            <td><%= article.slug %> </td>
            <td><%= article.categoryId %> </td>
            <td></td>
        <% }) %> 
      </tbody>
    </table>
  </div>

  <%- include('../../partials/footer') %> 
  <script>
    const confirmarDelecao = (event) => {
      event.preventDefault();
      var decision = confirm("Você quer deletar esta categoria?");
      if(decision){
        form.submit();
      }
    }
  </script>
</body>
</html>