<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header') %> 
<body>
  <%- include('partials/homenavbar') %>
  
  <div class="container">
    <% articles.forEach( article => { %>
      <br>
      <div class="card">
        <div class="card-header">
          
          <h2><%= article.title %></h2>
        </div>
        <div class="card-body">
          <a href="<%= article.slug %>" class="btn btn-success">Ler artigo</a>
        </div>
      </div>
    <% }) %> 
  </div>

  <div class="row">
    <div class="col col-12">
      <a style="float: right" href="/article/page/2">NEXT >> </a>
    </div>
  </div>

  <%- include('partials/footer') %> 
</body>
</html>